<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>This is a Rails 4 starter app.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="list-group">
		  <a href="#" class="list-group-item active">
		    Gems Included:
		  </a>
		  <a href="https://github.com/seyhunak/twitter-bootstrap-rails" target="_blank" class="list-group-item">Twitter Bootstrap</a>
		  <a href="https://github.com/plataformatec/simple_form" target="_blank" class="list-group-item">Simple Form</a>
		  <a href="https://github.com/plataformatec/devise" target="_blank" class="list-group-item">Devise</a>
		  <a href="https://github.com/laserlemon/figaro" target="_blank" class="list-group-item">Figaro</a>
		</div>
	</div>
</div>